---
---

html, html[data-theme="light"] {
	--link-color: rgb(0, 112, 201);
  --main-background-color: hsl(0, 0%, 90%);
  --main-text-color: hsl(0, 0%, 20%);
}

html[data-theme="dark"] {
  --link-color: rgb( 100, 210, 255);
  --main-background-color: hsl(0, 0%, 20%);
  --main-text-color: hsl(0, 0%, 85%); 
}


@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
      --link-color: rgb( 100, 210, 255);
    	--main-background-color: hsl(0, 0%, 20%);
    	--main-text-color: hsl(0, 0%, 85%); 
    }

    html[data-theme="light"] {
		  --link-color: rgb(0, 112, 201);
    	--main-background-color: hsl(0, 0%, 90%);
  	 --main-text-color: hsl(0, 0%, 20%);
  } 
}
