# ignore bin/ and obj/ and lib/
bin/
obj/
lib/
# ignore doc subdirectories
doc/html/
doc/latex/
doc/test/
test/doc/
# ignore outputs
*.out
*.txt
*.dat
*.DAT
*.Dat
*.json
*.pdf
*.mod
*.a
*.ti
*.png
*.jpg
*.jpeg
*.la
*.lo
*.d
*.o
*.so
*.0
*.lai
*.csv
*.pkl
# ignore vscode cache
.vscode/
# some of these will occasionally require manual override
data/
test/
python/
private_tests
