# ignore bin/ and obj/
bin/
obj/
# ignore doc subdirectories except the pre-compiled manual
doc/html/
doc/latex/
doc/test/
test/doc/
# ignore outputs
*.out
*.txt
*.dat
*.DAT
*.Dat
*.json
*.pdf
*.mod
*.a
*.ti
*.png
*.jpg
*.jpeg
*.la
*.lo
*.d
*.o
# some of these will occasionally require manual override
data/
test/
python/
private_tests
