[Desktop Entry]
Type=Application
Terminal=true
Name=ThermoGUI
Icon=utilities-terminal
Exec=gnome-terminal -x bash -c 'cd "$(dirname %k)"/.. && scripts/ThermoGUI.sh'
Categories=Application;
