# This is a basic workflow to help you get started with Actions

name: MSTDB-TC

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  # push:
  #   branches: '**'
  # pull_request:
  #   branches: '**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "basicTests"
  basicTests:

    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: clone MSTDB
        run: git clone git@code.ornl.gov:neams/mstdb.git

      - name: list
        run: ls mstdb

      - name: remove
        run: rm -rf mstdb
